[Unit]
Description=<name>_bot

[Service]
Type=simple
User=<user>
WorkingDirectory=/opt/<name>
ExecStart=/home/<user>/opt/<name>/env/bin/python3 /home/<user>/opt/<name>/bot.py

[Install]
WantedBy=multi-user.target
